<div ng-controller="HomeCtrl">
  <div class="row">
    <form name="inputForm" ng-submit="submit()" novalidate>
      <div class="form-group" ng-class="{'has-error':inputError}">
        <input type="text" class="form-control" placeholder="Type text here" name="inputText" ng-model="someData.text" ng-required>
      </div>
    </form>
  </div>
  <div class="row">
    <table>
      <tr ng-repeat="data in output">
        <td name="id">{{data.id}}</td>
        <td name="text">{{data.text}}</td>
      </tr>
    </table>
  </div>
</div>